h1 {
    color: goldenrod;
    font-weight: 500px;
    font-size: 150px;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode' sans-serif;
    background-image: url('table.png');
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold; */

}
#message-el{
    font-style: italic;
    /* font-size: 75px; */
}
p {
    font-size: 40px;
}
#start-btn{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    height: 50px;
    border: none;
    border-radius: 2px;

}
#newCard-btn{
    margin-top: 10px;
    color: #016f32;
    width: 150px;
    background: goldenrod;
    height: 50px;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
}
